/*------------------------------------------------------------------------------------------*/
/* align sidebar and main content wrapper after removing top nav
/*------------------------------------------------------------------------------------------*/
ul.sidebar-menu, .wrapper {
    margin-top: 25px;
}
#sidebar, #main-content {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/*------------------------------------------------------------------------------------------*/
/* make jumbotron smaller
/*------------------------------------------------------------------------------------------*/
.jumbotron {
    padding: 0em;
    background-color: #f2f2f2;
}

.jumbotron > i {
    padding: 8px;
    font-size: 20px;
    float: left;
}

.content-title >h1 > i {
    margin-right: 0.5em;
    padding-left: 0.3em;
    padding-top: 5px;
}

.content-title > h1 {
    font-size: 1.5em;
    font-weight: 700;
    margin: 0;
    display: inline-block;

}
.jumbotron > .content-title-action {
    width: 100%;
    vertical-align: middle;
    padding: 5px;
}
.content-action {
    padding: 3px;
    display: inline-block;
    /*text-align: right;*/
    font-weight: 500;
}
.content-action > .input-group{
    float: right;
    width: 50%;
}
.content-action > .btn, .content-action i{
    font-weight: bolder;
}

/*------------------------------------------------------------------------------------------*/
/* Wooohooo!!! Jan 2017 onwards, position:sticky is accepted now from all browsers
/*------------------------------------------------------------------------------------------*/
.jumbotron{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 3;
    background: #f2f2f2;
}
/*------------------------------------------------------------------------------------------*/
/* match breadcrumb padding and bg to that of the jumbotron
/*------------------------------------------------------------------------------------------*/
.breadcrumb {
    display: inline-block;
    margin-bottom: 10px;
    padding: 0px 4px;
    background: #f2f2f2;
}
.content-title i{
    cursor: pointer;
}

/*------------------------------------------------------------------------------------------*/
/* give some padding to the content panel whcih comes in .wrapper.row
/*------------------------------------------------------------------------------------------*/

.content-panel {
    border-radius: 5px;
    padding: 2em 1em;
}

.site-min-height {
    min-height: 700px;
}

/*------------------------------------------------------------------------------------------*/
/* branding
/*------------------------------------------------------------------------------------------*/
.brand-logo{
    font-size: 60px;
    color: #DFF0D8;
}
.brand-name{
    letter-spacing: .5em;
    font-size: 20px;
    padding-left: 2px;
}

/*------------------------------------------------------------------------------------------*/
/* didn't line the flashy active hover and focus color and irregular menu text sentence case
/*------------------------------------------------------------------------------------------*/
ul.sidebar-menu li a.active,
ul.sidebar-menu li a:hover,
ul.sidebar-menu li a:focus,
ul.sidebar-menu li ul li a.active,
ul.sidebar-menu li ul li a:hover,
ul.sidebar-menu li ul li a:focus
{
    background: none;
    color: #fff;
}
ul.sidebar-menu, .jumbotron, .jumbotron .btn{
    text-transform: Uppercase;
}

/*------------------------------------------------------------------------------------------*/
/* because we must have this
/*------------------------------------------------------------------------------------------*/
.dimmer {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/*------------------------------------------------------------------------------------------*/
/* match footer with theme color
/*------------------------------------------------------------------------------------------*/
.site-footer {
    background: none;
    color: #424a5d;
    padding: 10px 0;
    bottom: 0;
    margin-bottom: 0;
    position: fixed;
    left: 71px;
}
.site-footer div a {
    color: #DFF0D8;
}
/*------------------------------------------------------------------------------------------*/
/* lets hide our website from lazy mobile device users
/*------------------------------------------------------------------------------------------*/

@media (max-width: 991px) {
    .mobile-only {
        display: block !important;
    }
}
@media (min-width:992px) {
    .mobile-only {
        display:none !important;
    }
}
.mobile-only{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 9999
}
/*------------------------------------------------------------------------------------------*/
/* lets make the buttons more acceptable to the theme by removing their background
/*------------------------------------------------------------------------------------------*/
table button{
    background: none;
}
